@*@model PagedList.IPagedList<MVC_Omicron.Models.Register>*@

@*@{

    string name = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

  



}*@


@model IEnumerable<MVC_Omicron.Models.Register>
@*@using PagedList.Mvc*@
@using MVC_Omicron.Views.Shared

@{
    //ViewBag.Title = "RegistrationList";
    //if (!Request.QueryString["lang"].IsEmpty())
    //{ Culture = UICulture = Request.QueryString["lang"];}

}

@*<a href="@Url.Action("RegistrationList","Registration",new { lang="ar"})">العربية</a>
    <a href="@Url.Action("RegistrationList","Registration",new { lang="ar"})">العربية</a>*@

<div class="search">
    @using (Html.BeginForm())
    {
        <p>
            @SiteResource.searchBy @Html.TextBox("searchString", "", new { @class = "dropdownlist" })
            <input id="search" type="submit" value=@SiteResource.search class="btn" />
            <a href='@Url.Action("Add_NewRegistration", "Registration", new { id=0,name=0 })' class="btn">@SiteResource.Register</a>
        </p>

    }

</div>
<div class="title">
    <h3>@SiteResource.title2</h3>
</div>




<div class="col-lg-12">

    @*<div class="panel panel-default">*@

    @*<div class="panel-body">*@



    <div>

        <div>


            @{

                WebGrid stu = new WebGrid(Model, canPage: true, rowsPerPage: 6, ajaxUpdateContainerId: "gridContent");

            }

            @stu.GetHtml(tableStyle: "table-responsive", mode: WebGridPagerModes.All,nextText: SiteResource.Next, previousText: SiteResource.Previous, columns: stu.Columns(


                stu.Column("StudentName", SiteResource.StudentName),
                stu.Column("CourseName", SiteResource.CourseName),
                stu.Column("StudentFees", SiteResource.StudentFees),
                stu.Column("RegisterDate", SiteResource.RegisterDate),
                stu.Column(style: "", header: " ", format: (model) =>

                {

                    //if (model.EditPermission == "YES" && model.IndividualProcessStatus == 2)

                    //{

                    return Html.ActionLink(SiteResource.Edit, "EditRegistartion", "Registration", new { id = model.EnrollmentID, FromPage = 1 }, new { @class = "btn" });

                    //}

                    //    else { return null; }

                }

                                         ),
                stu.Column(style: "colDelete", header: " ", format: (model) =>

                {

                    //if (model.EditPermission == "YES" && model.IndividualProcessStatus == 2)

                    //{

                    return Html.ActionLink(SiteResource.Delete, "DeleteRegistered", new { id = model.EnrollmentID }, new { onclick = "return confirm('Are you sure you wish to delete this Student ?');", @class = "btn" });

                    //}

                    //    else { return null; }

                }

                                         )

                    @*stu.Column("Action", format: @<text>

                                <a href="~/Student/StudentList/2" class="href" accesskey="StudentID">Edit</a>
                                <button class="href">Delete</button>

                        </text>)*@

                    ))

        </div>
    </div>
    @*</div>*@
    @*</div>*@
</div>









@*<table class="table">

        <tr>
            <th>
                @Html.ActionLink("Student name", "RegistrationList", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayName("Course name")
            </th>
            <th>
                @Html.DisplayName("Student Fees")
            </th>
            <th>
                @Html.DisplayName("Register Date")
            </th>

            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentFees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterDate)
                    </td>


                    <td>
                        @Html.ActionLink("Edit", "EditRegistartion", new { id = item.EnrollmentID, name = 1 }, new {  @class = "control_btn" } ) |
                        @Html.ActionLink("Delete", "DeleteRegistered", new { id = item.EnrollmentID }, new { onclick = "return confirm('Are you sure you wish to delete this Student ?');", @class = "control_btn" })
                    </td>
                </tr>
            }
        </tbody>


    </table>

    <div class="p">

        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("RegistrationList",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@



